<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2026
  All rights reserved, Designed By www.joolun.com
  注意：
  本软件为www.joolun.com开发研制，项目使用请保留此说明
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joolun.mall.mapper.ShoppingCartMapper">

	<!-- 购物车主表字段映射，skuId 和 specInfo 是多规格场景的关键字段。 -->
	<resultMap id="shoppingCartMap" type="com.joolun.mall.entity.ShoppingCart">
		<id property="id" column="id"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="userId" column="user_id"/>
		<result property="spuId" column="spu_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="quantity" column="quantity"/>
		<result property="addPrice" column="add_price"/>
		<result property="spuName" column="spu_name"/>
		<result property="picUrl" column="pic_url"/>
		<result property="specInfo" column="spec_info"/>
	</resultMap>

	<!--
		购物车页面查询映射。
		在保留购物车主表快照的同时，额外关联 goodsSpu 供旧页面读取商品主信息。
	-->
	<resultMap id="shoppingCartMap2" extends="shoppingCartMap" type="com.joolun.mall.entity.ShoppingCart">
		<association property="goodsSpu" javaType="com.joolun.mall.entity.GoodsSpu"
					 select="com.joolun.mall.mapper.GoodsSpuMapper.selectOneByShoppingCart"
					 column="{id=spu_id}">
		</association>
	</resultMap>

	<!-- 购物车基础查询字段。 -->
	<sql id="shoppingCartSql">
		obj.`id`,
		obj.`del_flag`,
		obj.`create_time`,
		obj.`update_time`,
		obj.`user_id`,
		obj.`spu_id`,
		obj.`sku_id`,
		obj.`quantity`,
		obj.`add_price`,
		obj.`spu_name`,
		obj.`pic_url`,
		obj.`spec_info`
	</sql>

	<!-- 小程序购物车分页查询。 -->
	<select id="selectPage2" resultMap="shoppingCartMap2">
		SELECT
			<include refid="shoppingCartSql"/>
		FROM mall_shopping_cart obj
		<where>
			<if test="query.userId != null and query.userId != ''">
				AND obj.`user_id` = #{query.userId}
			</if>
		</where>
	</select>
</mapper>
